exportPattern("^[[:alpha:]]+")
import("compositions")
import("ggplot2")
import("geometry")
import("gMOIP")
importFrom("GGally", "ggpairs", "wrap")
import("dplyr")
importFrom("purrr", "map")
import("foreach")
